<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Price</title>

    <link href="../static/css/normalise.css" rel="stylesheet">
    <link href="../static/css/skeleton.css" rel="stylesheet">
</head>
<body>
    <table>
        <tr>
            <td>ASX Code</td>
            <td>Price</td>
            <td>Time</td>
        </tr>
        <tr>
            <td>{{ code }}</td>
            <td>{{ price }}</td>
            <td>{{ timestamp }}</td>
        </tr>
    </table>
</body>
</html>